<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.eco_picker">

    <!-- Internet permission -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="eco_picker"
        android:icon="@mipmap/ic_launcher"
        tools:replace="android:icon">
        
        <!-- Other components like activities, services, etc. -->
        
    </application>

</manifest>
